.portfolio {
    text-align: center;
}

.portfolio > h2 {
    font-size: 3em;
    font-weight: 80px;
}

.portfolio > h3 {
    font-size: 2em;
    font-weight: 400;
}

.portfolio > p {
    padding: 1rem;
    text-align: left;
}